.foto-gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.foto-gallery a {
  max-width: 250px;
  padding: 10px;
}

.foto-gallery a img {
  width: 100%;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}